<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>EduLoop | Login</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-qKXV1j0HvMUeCBQ+QVp7JcfGl760yU08IQ+GpUo5hlbpg51QRiuqHAJz8+BrxE/N"
    crossorigin="anonymous"></script>

  <style>
    nav {
      
      background-color: #c0f2f3;

      margin-bottom: 30px;

    }

    body {
      
      background-color: #1e9c99;

    }

    .form-floating:not(.form-control:disabled)::before {
      height: 0;
    }

    .Form_area {
      background-color: rgba(0, 0, 0, 0.2);
      padding: 30px;
      border: 1px solid black;
      border-radius: 10%;
    }

    .content {
      margin-top: 10px;
      padding: 50px;
    }

    label {
      padding: 5px;
    }

    .image_slider {
      box-shadow: 1cm black;
    }

    img {
      /* margin-left: 10px; */
      border-radius: 10px;
    }
  </style>
  <script>

    var current = 0;

    function nextImg() {
      var x = document.getElementById("image");
      var imgs = ["bg1.jpg", "bg2.jpg", "bg3.jpg", "bg4.jpg", "bg5.jpg", "bg6.jpg"];

      if (current < 5) {
        current = current + 1;
      }
      else { current = 0; }

      x.src = imgs[current];
    }

    setInterval(nextImg, 3500);

  </script>

</head>

<body>
  <nav class="navbar navbar-expand-sm">
    <div class="container-fluid">
      <a class="navbar-brand" href="/"><img src="EL_logo2.png" alt="" height="60px"></a>
    </div>
  </nav>
  <div class="container-fluid main ">

    <div class="row container-fluid content">

      <!-- for image Slider -->
      <div class="col-4 img_slider">
        <div>
          <img id="image" src="bg1.jpg" alt="" width="700px">
        </div>
      </div>
      <div class="col-4"></div>

      <!-- Form for login with post method  -->
      <div class="col-4 Form_area justify-content-center">
        <form action="/login" method="post">

          <div class="logo p-3">
            <h1>Login</h1>
          </div>

          <div class="row">
            <!-- UserName -->
            <div class="form-floating mb-3">
              <input type="text" name="username" class=" form-control" id="floatingInput" placeholder="name@134">
              <label for="floatingInput">UserName</label>
            </div>
          </div>

          <div class="row">
            <!-- Email Address -->
            <div class="form-floating mb-3">
              <input type="email" name="email" class="form-control" id="floatingInput" placeholder="name@example.com">
              <label for="floatingInput">Email address</label>
            </div>
          </div>

          <!-- password -->
          <div class="row">
            <div class="form-floating mb-3">
              <input type="password" name="password" class="form-control" id="floatingPassword" placeholder="Password">
              <label for="floatingPassword">Password</label>
            </div>
          </div>


          <!-- Login / Signup Button -->
          <div class="row">

            <div class="col-6 mb-3">
              <label for="submit">
                <font style="font-size: large; color: brown; font-weight: 600;">* New User</font>
              </label><br>
              <button type="submit" class="btn btn-primary">Sign in</button>
            </div>

            <div class="col-6 mb-3">
              <label for="submit">
                <font style="font-size: large; color: brown; font-weight: 600;">* Already a User</font>
              </label><br>
              <a href="sign_up"><button type="button" class="btn btn-primary">Sign Up</button></a>
            </div>
          </div>

        </form>
      </div>

    </div>



  </div>

 
</body>

</html>